DOCTYPE
html(lang="en")
head
	meta(charset="UTF-8")
	title Listas
body
	button(onclick='app.insert()') Agregar
	button(onclick='app.showList()') Lista Mostrar
	button(onclick='app.delete()') Borrar
	button(onclick='app.edit()') Editar
	button(onclick='app.find()') Buscar

	script(src="/js/app.js")
